:root{
   --color-background: #ecedf1;
   --color-header: #83969f;
   --color-font: #61757f;

   --color-primary-1: #253957;
   --color-primary-2: #344d71;
   --color-primary-3: #3a557c;
   --color-primary-4: #466289;
   --color-primary-5: #516e96;
   --color-primary-6: #4771af;

   --color-accent-1: #de9e20;
   --color-accent-2: #f6b431;

   --color-white: #fbfbfb;
   --box-shadow: 0 5px 8px -8px #000;

   --transition: 250ms linear;
}

::-moz-selection { /* Code for Firefox */
   background: var(--color-accent-2);
   color: #fff;
}
 
::selection {
   background: var(--color-accent-2);
   color: #fff;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-family: 'Mulish', sans-serif;
   background-color: var(--color-background);
}
main, p{
   line-height: 1.6;
}
h1, h2, h3, h4, h5, h6{
   font-weight: 600;
   line-height: 1.3;
}
h1{
   font-size: 50px;
}
h2{
   font-size: 40px;
}
h3{
   font-size: 25px;
}
h4{
   font-size: 18px;
}

.container{
   max-width: 1140px;
   margin: 0 auto;
   padding: 0 20px;
}
main{
   display: flex;
   flex-direction: column;
}
.btn-yellow, .btn-blue{
   width: 100%;
   margin-top: 10px;
   padding: 15px 20px;
   color: var(--color-white);
   font-weight: 600;
   letter-spacing: 1.7;
   border: none;
   border-radius: 3px;
   cursor: pointer;
}
.btn-yellow{
   background-color: var(--color-accent-2);
}
.btn-blue{
   background-color: var(--color-primary-2);
}
.btn-sm{
   width: fit-content;
   margin-top: 20px;
}

@media screen and (max-width: 1024px) {
   h1{
      font-size: 45px;
   }
   h2{
      font-size: 38px;
   }
   h3{
      font-size: 22px;
   }
   p, li{
      font-size: 15px;
   }
}
@media screen and (max-width: 576px) {
   h1{
      font-size: 40px;
   }
   h2{
      font-size: 35px;
   }
   h3{
      font-size: 20px;
   }
   h4{
      font-size: 16px;
   }
   p, li{
      font-size: 14px;
   }
}