/*--------- Banner starts ----------*/
.banner{
   height: 100vh;
   display: grid;
   grid-template-columns: 50% 50%;
   color: var(--color-white);
   background-image: url(../images/background.png);
   background-size: cover;
   background-position: top right;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.banner div{
   background-color: var(--color-accent-2);
   z-index: -1;
}
.banner .first-half{
   width: 570px;
   margin-left: auto;
}
.banner .second-half{
   padding-top: 100px;
}
.banner .second-half div{
   width: 570px;
   display: grid;
   justify-content: end;
   padding-left: 200px;
}
/*--------- Banner ends ----------*/

.banner .container,
.contact .container{
   display: none;
}

/*--------- Contact starts ----------*/
.contact{
   display: grid;
   grid-template-columns: 50% 50%;
   color: var(--color-white);
}
.contact div{
   background-color: var(--color-header);
}
.contact .first-half div{
   width: 570px;
   margin-left: auto;
   padding: 30px 0 30px 40px;
}
.contact .first-half div a,
.contact .first-half-sm a{
   color: var(--color-white);
   text-decoration: none;
   border-bottom: 1px solid;
}
.contact .second-half{
   width: 570px;
   margin-right: auto;
   position: relative;
}
.contact .second-half div{
   position: absolute;
   bottom: 0;
   right: 0;
   width: 66.5%;
   padding: 50px;
   background-color: var(--color-primary-2);
}
.contact .second-half div h3,
.contact .container .second-half-sm h3{
   margin-bottom: 10px;
}
.contact .second-half div form,
.contact .container .second-half-sm form{
   margin-top: 20px;
}
.contact .second-half div form input,
.contact .container .second-half-sm form input{
   width: 100%;
   padding: 12px;
   margin: 10px 0;
   font-family: 'Mulish', sans-serif;
   border: none;
   border-radius: 3px;
   outline: none;
}
/*--------- Contact ends ----------*/

/*--------- About us starts ----------*/
.about-us p, .about-us li{
   color: var(--color-font);
}
.about-us ul {
   list-style: none;
   list-style-position: inside;
 }
 
.about-us ul li::before {
   content: "○";
   font-size: 20px;
   color: var(--color-accent-2);
   display: inline-block; 
   width: 1em;
 }
.about-us .container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
.about-us .container .about-1,
.about-us .container .about-2 {
   display: grid;
   align-content: space-between;
}
.about-us .container .about-1 h4,
.about-us .container .about-2 h4 {
   margin-bottom: 10px;
}

.about-us .container .about-1,
.about-us .container .about-2,
.about-us .container .about-3 p{
   padding: 35px 40px;
}
.about-us .container .about-1,
.about-us .container .about-3{
   background-color: var(--color-white);
}
.about-us .container .about-2{
   list-style-type: circle;
   list-style-position: inside;
}
.about-us .container .about-3 iframe{
   width: 380px;
   height: 210px;
   border: transparent;
}
/*--------- About us ends ----------*/

/*--------- Offers starts ----------*/
.offers .container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
.offers .container a{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 35px 40px;
   color: var(--color-white);
   text-decoration: none;
}
.offers .container .single-offer-1{
   background-color: var(--color-primary-2);
   position: relative;
}
.offers .container .single-offer-2{
   background-color: var(--color-primary-3);
}
.offers .container .single-offer-3{
   background-color: var(--color-primary-1);
}
.offers .container .single-offer-4{
   background-color: var(--color-primary-4);
}
.offers .container .single-offer-5{
   background-color: var(--color-primary-5);
}
.offers .container .single-offer-6{
   background-color: var(--color-primary-2);
}
 
.ribbon {
   width: 115px;
   height: 115px;
   overflow: hidden;
   position: absolute;
   top: -8px;
   left: -10px;
   z-index: 2;
}
.ribbon-content {
  left: -33px;
  top: 20px;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
  position: absolute;
  display: block;
  width: 131px;
  background-color: var(--color-primary-6);
  font-size: 12px;
  color: var(--color-white);
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
  border: 2px dotted var(--color-white);
  outline : 5px solid var(--color-accent-2);
}
.ribbon::before,
.ribbon::after {
   border-top-color: transparent;
   border-right-color: transparent;
   position: absolute;
   z-index: -1;
   content: '';
   display: block;
   border: 4.7px solid var(--color-accent-1);
 }
.ribbon::before {
  top: 0px;
  left: 78px;
}
.ribbon::after {
  bottom: 29px;
  left: 0px;
  border: 5px solid var(--color-accent-1);
}  
/*--------- Offers ends ----------*/

/*--------- News and blogs starts ----------*/
.news-and-blogs{
   background-color: var(--color-white);
}
.news-and-blogs .container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
.news-and-blogs .header-sm{
   display: none;
}
.news-and-blogs .blog-header,
.news-and-blogs .header-sm{
   background-color: #ecedf12e;
   border-bottom: 1px solid var(--color-background);
}
.news-and-blogs .blog-header h4,
.news-and-blogs .header-sm{
   padding: 20px 40px;
   font-size: 15px;
   font-weight: 700;
   color: var(--color-font);
}
.news-and-blogs .container .latest-news,
.news-and-blogs .container .blogs,
.news-and-blogs .container .videos{
   border-left: 1px solid var(--color-background);
}
.news-and-blogs .container .videos{
   border-right: 1px solid var(--color-background);
}
.news-and-blogs .container .single-news,
.news-and-blogs .container .single-blog,
.news-and-blogs .container .single-video{
   padding: 30px 40px 20px 40px;
}
.news-and-blogs .container .single-video:first-of-type{
   padding-bottom: 0;
}
.news-and-blogs .container .videos .single-video iframe{
   width: 300px;
   height: 165px;
   border: 0;
}
.news-and-blogs .container .single-news h4,
.news-and-blogs .container .single-blog h4{
   margin-bottom: 10px;
   color: var(--color-accent-2);
}
.news-and-blogs .container .single-news p,
.news-and-blogs .container .single-blog p{
   color: var(--color-primary-1);
}
.news-and-blogs .container .single-news span,
.news-and-blogs .container .single-blog span{
   font-size: 14px;
   color: var(--color-header);
}
/*--------- News and blogs ends ----------*/

/*--------- Bottom links starts ----------*/
.bottom-links{
   padding-top: 50px;
   background-color: var(--color-primary-1);
}
.bottom-links .container{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}
.bottom-links .container h4{
   margin-bottom: 15px;
   color: var(--color-accent-1);
}
.bottom-links .container a,
.bottom-links .container p,
.bottom-links .container address,
.bottom-links .container i{
   color: var(--color-white);
   text-decoration: none;
}
.bottom-links .container .links,
.bottom-links .container .address{
   padding-bottom: 50px;
}
.bottom-links .container .contact-info{
   display: grid;
   align-content: space-between;
}
.bottom-links .container .contact-info div:last-child{
   width: 100%;
   display: flex;
   align-items: center;
   background-color: var(--color-primary-2);
}
.bottom-links .container .contact-info div:last-child p{
   padding-left: 20px;
   font-size: 18px;
   font-weight: 600;
}
.bottom-links .container .contact-info div:last-child i{
   padding: 15px;
   background-color: var(--color-accent-1);
}
/*--------- Bottom links ends ----------*/

footer{
   padding: 20px 0;
   background-color: var(--color-primary-2);
}
footer .container{
   display: flex;
   justify-content: space-between;
   color: var(--color-font);
}
footer .container a{
   color: var(--color-font);
}